body {
	display: block;
	height: 100%;
	width: 100%;
}

#wrapper {
	width: 500px;
	margin: 40px auto;
	text-align: center;
}

.box {
	border-style: solid;
	width: 500px;
	height: 200px;
    padding-top: 20px;
}